
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
}


header {
    background-color: black;
    color: white;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}


#hero {
    background-color: skyblue;
    color: white;
    text-align: center;
    padding: 6rem 2rem;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: orange;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: red;
}


#features {
    padding: 4rem 2rem;
    background-color: white;
    text-align: center;
}

#features h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.features-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.feature {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px black(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.feature h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.feature p {
    font-size: 1rem;
}


#contact {
    padding: 4rem 2rem;
    text-align: center;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#contact input, #contact textarea {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#contact button {
    padding: 1rem 2rem;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#contact button:hover {
    background-color: blue;
}


footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

